@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
.logoContainer div svg {
	@apply h-[28px];
}
.logo-subtitleContainer div svg {
	@apply h-[14px];
}
@media screen and (min-width: 450px) {
	.logoContainer div svg {
		@apply h-12;
	}
	.logo-subtitleContainer div svg {
		@apply h-6;
	}
}
@media screen and (min-width: 1024px) {
	.logoContainer div svg {
		@apply h-20;
	}
	.logo-subtitleContainer div svg {
		@apply h-14;
	}
}

