	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Serif';
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #d8f3dc;
	/* --foreground: #00524f; */
	--foreground: #013836;

	--foreground-dark: #88d4ab;
	--custom-bg-one: #00544f;
	--custom-bg-two: #004141;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: 'Noto Serif', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}
h1,
h2,
h3 {
	font-family: 'Bungee Shade', serif;
	font-weight: 400;
	font-style: normal;
}

h4,
h5,
h6 {
	font-family: 'Bungee Inline', serif;
	font-weight: 400;
	font-style: normal;
}
h1 {
	@apply text-5xl md:text-7xl;
}
h2 {
	@apply text-4xl md:text-6xl;
}
h3 {
	@apply text-3xl md:text-5xl;
}
h4 {
	@apply text-2xl md:text-4xl;
}
h5 {
	@apply text-xl md:text-3xl;
}
h5.navText {
	@apply text-base md:text-xl;
}
h6 {
	@apply text-lg md:text-2xl;
}
.logoContainer div svg {
	@apply h-[26px];
}
.logoContainer div.mobile-logo svg {
	@apply h-auto;
}
header a .logoContainer div svg {
	@apply h-[32px];
}
.logo-subtitleContainer div svg {
	@apply h-[14px];
}
header a .logo-subtitleContainer div svg {
	@apply h-[18px];
}
/* 
Currently tailwind 4 does not support other dark mode strategies than color scheme media queries. Use Next theme to update when selector strategy is available.
https://github.com/pacocoursey/next-themes
*/
@media (prefers-color-scheme: dark) {
	:root {
		--background: #3c096c;
		--foreground: #88d4ab;
	}
}
@media screen and (min-width: 450px) {
	.logoContainer div svg {
		@apply h-12;
	}
	.logo-subtitleContainer div svg {
		@apply h-6;
	}
}
@media screen and (min-width: 1024px) {
	.logoContainer div svg {
		@apply h-20;
	}
	.logo-subtitleContainer div svg {
		@apply h-14;
	}
}
