@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #d8f3dc;
	--foreground: #013836;
	--background-dark: #3c096c;
	--foreground-dark: #88d4ab;
	--custom-one: #00544f;
	--custom-two: #004141;
}
html {
	@apply scroll-smooth;
}
body {
	color: var(--foreground);
	background: var(--background);
	font-family: 'Noto Serif', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}
body {
	@apply bg-background dark:bg-background-dark text-foreground dark:text-foreground-dark;
}
h1,
h2,
h3 {
	font-family: 'Bungee Shade', serif;
	font-weight: 400;
	font-style: normal;
}

h4,
h5,
h6 {
	font-family: 'Bungee Inline', serif;
	font-weight: 400;
	font-style: normal;
}
h1 {
	@apply text-5xl md:text-7xl;
}
h2 {
	@apply text-4xl md:text-6xl;
}
h3 {
	@apply text-3xl md:text-5xl;
}
h4 {
	@apply text-2xl md:text-4xl;
}
h5 {
	@apply text-xl md:text-3xl;
}
h5.navText {
	@apply text-base md:text-xl;
}
h6 {
	@apply text-lg md:text-2xl;
}
.logoContainer div svg {
	@apply h-[26px];
}
.logoContainer div.mobile-logo svg {
	@apply h-auto;
}
header a .logoContainer div svg {
	@apply h-[32px];
}
.logo-subtitleContainer div svg {
	@apply h-[14px];
}
header a .logo-subtitleContainer div svg {
	@apply h-[18px];
}
/* 
Currently tailwind 4 does not support other dark mode strategies than color scheme media queries. Use Next theme to update when selector strategy is available.
https://github.com/pacocoursey/next-themes
*/
/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #3c096c;
		--foreground: #88d4ab;
	}
} */
.markdown-section {
	@apply gap-2;
}
.markdown-section p {
	@apply my-2;
}
.markdown-section ul {
	@apply pl-6;
}
.markdown-section ul li {
	@apply list-disc list-outside;
}
.markdown-section ul li ul li {
	@apply list-[circle] list-outside;
}
.markdown-section div a {
	@apply underline;
}
.markdown-description {
	@apply gap-y-2;
}
.markdown-description p {
	@apply indent-4;
}
.markdown-description ul {
	@apply pl-6;
}
.markdown-description ul li {
	@apply list-disc list-outside text-left;
}
.link-menu div {
	@apply pl-8 relative;
}
.link-menu a {
	@apply relative before:content-[''] before:absolute before:-left-8 before:top-1 before:w-3 before:h-3 before:border-2 before:rounded-full before:border-foreground dark:before:border-foreground-dark transform ease-in-out duration-300 before:transition before:ease-in-out before:duration-300;
}
.link-menu div a[data-active='true'] {
	@apply before:bg-foreground dark:before:bg-foreground-dark font-black;
}
/* .link-menu a[data-active='true'] {
} */
@media screen and (min-width: 450px) {
	.logoContainer div svg {
		@apply h-12;
	}
	.logo-subtitleContainer div svg {
		@apply h-6;
	}
}
@media screen and (min-width: 1024px) {
	.logoContainer div svg {
		@apply h-20;
	}
	.logo-subtitleContainer div svg {
		@apply h-14;
	}
}
